.info-image img{
    width: 248px;
    height: 248px;
}
.features{
    height: 380px;
}

.info h1{
    text-transform: uppercase;
    font-size: 2em;
}
.header-span{
    color: goldenrod;
    display: block;
}

.feature-img img{
    width: 100%;
}

.feature-imgs img{
    width: 100px;
}