*{
    margin: 0;
    padding: 0;
}
.single-feature-image img{
    width: 78px;
    height: 82px;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.banner-text h1{
    font-size: 80px;
}
div h1{
    font-size: 36px;
}
p{
    font-family: 'Roboto', sans-serif;
}
.banner-span{
    color: goldenrod;
}
.product-image{
    background-color: #F1F1F1;
    border-radius: 20%;
}

.product-image img{
    height: 50%;
}