*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Bebas Neue', cursive;
}
.banner-text h1{
    font-size: 80px;
}
div h1{
    font-size: 36px;
}
p{
    font-family: 'Roboto', sans-serif;
}
.banner-span{
    color: goldenrod;
}

.buy-info{
    padding: 10px 18px;
}

.product-title h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;
}
.product-image{
    background-color: #F1F1F1;
}

.product-image img{
    height: 70%;
}
.price{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: goldenrod;
}